.danger {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: green;
}

/* Define mixin with two arguments */
.myArticle {
  border: 1px solid blue;
}

.myNotes {
  border: 2px solid red;
}

.myTips {
  border: 1px solid orange;
}